# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
# These are to be removed while uploading to git
# backend/
# html-css-js/
# public/
# src/
# eslint.config.js
# index.html
# package-lock.json
# package.json
# readme.md
# vite.config.js
# .gitignore
# postcss.config.js
# tailwind.config.js